In [26]:
import sqlite3
import numpy as np
import pandas as pd

In [27]:
id = np.arange(1, 11)
names = np.array(['Ivan', 'Olesya', 'Alexander', 'Anastasiya', 'Oleg', 'Evgeniy', 'Anna', 'Diana', 'Dmiriy', 'Venera'])
friends = np.random.choice(id, size=10, replace=False)
salary = np.random.randint(100000, high=150000, size=10)

In [28]:
Students = pd.DataFrame(columns=['ID', 'Name'])
Friends = pd.DataFrame(columns=['ID', 'Friend_ID'])
Packages = pd.DataFrame(columns=['ID', 'Salary'])

Students['ID'] = id
Students['Name'] = names
Friends['ID'] = id
Friends['Friend_ID'] = friends
Packages['ID'] = id
Packages['Salary'] = salary

In [29]:
con = sqlite3.connect('C:/Users/79504/Desktop/Projects/Test/db', timeout=10) 
cur = con.cursor()
Students.to_sql(con=con, name='Students', index=False, if_exists = 'replace')
Friends.to_sql(con=con, name='Friends', index=False, if_exists = 'replace')
Packages.to_sql(con=con, name='Packages', index=False, if_exists = 'replace')
data_test = cur.execute('select * from Students')
con.commit() 
cur.fetchall()

[(1, 'Ivan'),
 (2, 'Olesya'),
 (3, 'Alexander'),
 (4, 'Anastasiya'),
 (5, 'Oleg'),
 (6, 'Evgeniy'),
 (7, 'Anna'),
 (8, 'Diana'),
 (9, 'Dmiriy'),
 (10, 'Venera')]